/* ## Box Sizing
--------------------------------------------- */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
} 


/* ## Float Clearing
--------------------------------------------- */
.clearfix:before {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: table;
}

/* Typographical Elements
--------------------------------------------- */
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  }

/* Default Elements
--------------------------------------------- */
.wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  max-width: 100%;

}

img {
  max-width: 100%;
}

input {
  border: solid 1px #ccc;
  padding: 8px;

}

label {
  padding-right:5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.btn-create {
  color: #fff;
  background-color: rgb(62, 0, 207);
  border-color: rgb(62, 0, 207);
}

.quantity {
  margin: 0 5px;
}

.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-row > div {
  width: 20%;
  padding: 5px 10px 5px 0;
}
.add-row {
  display: flex;
  justify-content: space-between;
}
.calculate-row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#error {
  color: #CF000F;
  margin-top: 20px; 
}
@media only screen and (min-width : 1200px) {
  .wrap {
    width: 1140px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}